<div class="jumbotron">
	<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">Brand</div>
	  <div class="panel-body">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<span><strong>Name : </strong><%=@provider.name%></span><br />
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
	<div class="row">
		<%= link_to "Edit", edit_provider_path(@provider), :class => "btn btn-default" %>
		<%= link_to "Back to list of providers", :providers, :class => "btn btn-default" %>
	</div>
</div>
