		<%= simple_nested_form_for @option, url: display_all_switch_option_path(@option),  html: { class: 'form-inline' }, :remote=> true do |f| %>
			<div class="form-group">
				<div class=" pull-right">
		  				<div class= "row"><%= t('global.my_teams_inventory_only')%> <%= f.input :display_all, :as => :boolean, :label =>false, :input_html => {:onclick => "$('#option_display_all*').submit();"}%></div>
		  		</div>
	  		</div>
		<%end%>