%h1 Listing item_attachments

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @item_attachments.each do |item_attachment|
      %tr
        %td= link_to 'Show', item_attachment
        %td= link_to 'Edit', edit_item_attachment_path(item_attachment)
        %td= link_to 'Destroy', item_attachment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Item attachment', new_item_attachment_path
