<td class="col-lg-10 col-md-10 col-sm-10"><small><%= object.name.nil? ? "unknown" : object.name %></small></td>
<td class="col-lg-2 col-md-10 col-sm-10 actions">
<%if can? :cru, Provider %>	
	<%= smart_listing_item_actions [
		{name: :custom,    url: edit_provider_path(object),
	  		method: :get, 
  			icon: 'fa fa-pencil-square-o', 
  			title: "Edit"}]%>
<%end%>
	<%= smart_listing_item_actions [
		{name: :custom,    url: provider_path(object),
	  		method: :get, 
  			icon: 'fa fa-sticky-note', 
  			title: "Show info"}]%>
</td>
