<td ><%= object.name%></td>
<td class="actions pull-right">
<%if can? :manage, :all %>
	<%= smart_listing_item_actions [
	  	{name: :edit,    url: edit_department_path(object), title: "Edit"},
		{name: :destroy, url: department_path(object), title: "Destroy", :confirmation => "Are you sure you want to delete this?"}
		]%>
	<%end%>
</td>