<td class="col-lg-10 col-md-10 col-sm-10"><small><%= object.name.nil? ? "unknown" : object.name %></small></td>
<td class="col-lg-2 col-md-10 col-sm-10 actions">
<%if can? :manage, :all %>
	<%= smart_listing_item_actions [
	  	{name: :edit,    url: edit_department_path(object), title: "Edit"},
		{name: :destroy, url: department_path(object), title: "Destroy", :confirmation => "Are you sure you want to delete this?"}
		]%>
	<%end%>
</td>