<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3">
					<strong>Barcode : </strong><%= item.barcode.nil? ? '-' : item.barcode %>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-5">
					<strong>Name : <span class=" text-primary"><%= item.name.nil? ? '-' : item.name %></strong></span>
				</div>
			</div>
		<div class="row">
			<table class="table table-bordered">
				<tr>
					<th>Date</th>
					<th>Description</th>
					<th>Contributor</th>
				<tr>
				<tr>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
				</tr>
			</table>		
		</div>
</div>
