<footer class="footer">
  <small>
    <a href="http://www.institut-vision.org/">Institut de la Vision - 2020</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", 'mailto:marc.lechuga@inserm.fr' %></li>
    </ul>
  </nav>
</footer>